@import "tailwindcss"; 

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*Paleta de colores de Vía Atlixco*/
  --volcano-snow:#e3fcff;
  --tourist-flower:#ff62c3;
  --sunday-church:#ffc24a;
  --olive-seasoning:#93aa77;
  --night-sky:#422a73;
  --enphasis-red:#be1c1c;
  --enphasis-gren:#1eaa0d;

  /*Tamaños de texto predeterminados Vía Atlixco*/
  --header-1:36px;
  --header-2:24px;
  --normal-text:16px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*Colores en Tailwind de Vía Atlixco*/
  --color-volcano-snow: var(--volcano-snow);
  --color-tourist-flower: var(--tourist-flower);
  --color-sunday-church: var(--sunday-church);
  --color-olive-seasoning: var(--olive-seasoning);
  --color-night-sky: var(--night-sky);
  --color-enphasis-red: var(--enphasis-red);
  --color-enphasis-green: var(--enphasis-green);
  /*Tamaños de texto en Tailwind de Vía Atlixco*/
  --text-header-1: var(--header-1);
  --text-header-2: var(--header-2);
  --text-normal: var(--normal-text);

  --font-sans: default;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
